# 把这个文件复制一份为：script/.env  或  script/.env.local
# 然后把下面的值改成你本机 MySQL 的真实配置
#
# 注意：.env / .env.local 已加入 .gitignore，不会提交到 git

MYSQL_HOST=你的数据库url
MYSQL_PORT=你的数据库服务端口
MYSQL_USER=你的数据库名字
MYSQL_PASSWORD=你的密码
MYSQL_DB=你的数据库架构